<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>My Profile</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="--background: #ddf2f6; --color: white">
    <ion-card-header>
      <img
        style="
          height: 145px;
          width: 145px;
          margin-left: 225px;
          position: fixed;
          margin-top: -10px;
        "
        src="../assets/img/alok.jpg"
      />
      <ion-card-title><b>Alok Dake</b></ion-card-title>
      <ion-card-subtitle><b>alokdake2003@gmail.com</b></ion-card-subtitle>
      <ion-card-subtitle><b>9970792572</b></ion-card-subtitle>
      <ion-card-subtitle><b>Developer</b></ion-card-subtitle>
      <ion-card-subtitle><b>Solapur</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
